@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download File</title>
    <link rel="stylesheet" href="~/css/downloadPage.css">
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("DownloadFile", "File", FormMethod.Post))
        {
            <div class="form-group">
                <label>Ім'я:</label>
                <input type="text" name="firstName" required />
            </div>
            <div class="form-group">
                <label>Прізвище:</label>
                <input type="text" name="lastName" required />
            </div>
            <div class="form-group">
                <label>Назва файлу:</label>
                <input type="text" name="fileName" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Продовжити" />
            </div>
        }
    </div>
</body>
</html>
